################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Zadanie1/Zad1/target
/Zadanie1/Zad1/project
/Zadanie1/Zad1/null/Coursier/cache/v1/https/repo1.maven.org/maven2
/Zadanie1/Zad1/build.sbt
/Zadanie1/Zad1/.vscode
/Zadanie1/Zad1/.scalafmt.conf
/Zadanie1/Zad1/.metals
/Zadanie1/Zad1/.bloop
/Zadanie10/target
/Zadanie10/project
/Zadanie10/null/Coursier/cache/v1/https/repo1.maven.org/maven2
/Zadanie10/.vscode
/Zadanie10/.metals
/Zadanie10/.bloop
/Zadanie10/Zad9/target
/Zadanie10/Zad9/project
/Zadanie10/Zad9/null/Coursier/cache/v1/https/repo1.maven.org/maven2
/Zadanie10/Zad9/build.sbt
/Zadanie10/Zad9/.vscode
/Zadanie10/Zad9/.scalafmt.conf
/Zadanie10/Zad9/.metals
/Zadanie10/Zad9/.bloop
/Zadanie10/build.sbt
/Zadanie10/.scalafmt.conf
/Zadanie2/Zadanie2.txt
/Zadanie2/target
/Zadanie2/project
/Zadanie2/null/Coursier/cache/v1/https/repo1.maven.org/maven2
/Zadanie2/build.sbt
/Zadanie2/.vscode
/Zadanie2/.scalafmt.conf
/Zadanie2/.metals
/Zadanie2/.bloop
/Zadanie9/target
/Zadanie9/project
/Zadanie9/null/Coursier/cache/v1/https/repo1.maven.org/maven2
/Zadanie9/build.sbt
/Zadanie9/.vscode
/Zadanie9/.scalafmt.conf
/Zadanie9/.metals
/Zadanie9/.bloop
/.vscode
/.vs
/.metals
